* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --btn-color: rgb(214, 218, 223);
    --btn-border: rgb(154, 174, 231);
    --btn-hov: gray;
}

body {
    display: block;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;   
}



.timer {
    display: flex;
    position: fixed;
    top: 10px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    width: 100px;    
}

#play-btn {
    width: 100px;    
}


.container {
    visibility: visible;
}

h2 {
    padding-bottom: 20px;
}

/* .answers {
    display: flex;
    flex-direction: column;
    align-items: start;
} */

#question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.button {
    transition: box-shadow .3s ease;
    margin: 2px;
    padding: 4px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--btn-border);
    background-color: var(--btn-color);
    cursor: pointer;
}

#play-button {
    /* visibility: hidden; */
}


.button:hover {
    color: var(--btn-color);
    background-color: var(--btn-hov);
    box-shadow: 3px 3px 8px rgb(83, 83, 83);
}

.button:active {
    color: blue;
    background-color: var(--btn-color);
}

.feedback {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.response {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    padding-top: 5%;
}

.gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    visibility: hidden;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.initials {
    padding: 10px;
    visibility: hidden;
}
